Repository nextOpportunity/META-Controlling-Agent-GPT, changes with the labels that .github/labeler.yml gives for each.
All labels: area:ci, area:docs, area:scripts, area:mcag-starter, area:mcag-phase0, area:tests, area:policies, area:runbooks, area:configs, area:reports, area:prompts, area:experiments, chore

.github/labeler.yml:

# .github/labeler.yml
# Dateibasierte Auto-Labels f√ºr META-Controlling-Agent-GPT

area:ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "RELEASE_NOTE.txt"

area:docs:
  - changed-files:
      - any-glob-to-any-file: "README.md"
      - any-glob-to-any-file: "PR_SMOKE.md"
      - any-glob-to-any-file: "docs/**"

area:scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
      - any-glob-to-any-file: "scripts_alt/**"

area:mcag-starter:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/**"

area:mcag-phase0:
  - changed-files:
      - any-glob-to-any-file: "mcag_phase0_patch/**"

area:tests:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/tests/**"
      - any-glob-to-any-file: "mcag_phase0_patch/tests/**"

area:policies:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/policies/**"
      - any-glob-to-any-file: "mcag_phase0_patch/policies/**"

area:runbooks:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/runbooks/**"
      - any-glob-to-any-file: "mcag_phase0_patch/runbooks/**"

area:configs:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/configs/**"
      - any-glob-to-any-file: "mcag_starter/slos/**"
      - any-glob-to-any-file: "mcag_starter/gates/**"
      - any-glob-to-any-file: "incidents_sample.json"

area:reports:
  - changed-files:
      - any-glob-to-any-file: "reports/**"

area:prompts:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/prompts/**"

area:experiments:
  - changed-files:
      - any-glob-to-any-file: "mcag_starter/experiments/**"

# Kleinkram wie .gitignore, .DS_Store etc.
chore:
  - changed-files:
      - any-glob-to-any-file: ".gitignore"
      - any-glob-to-any-file: "**/.DS_Store"

Create auto-label.yml
  .github/workflows/auto-label.yml
Labels: area:ci

init: SLOs, Governance, Canary-Plan, Eval-Seeds
  bootstrap_mcag.sh
  docs/canary-plan.md
  docs/governance/content-policy.md
  docs/slo.md
  evals/business/unit/example1.yaml
  evals/knowledge/task/example2.yaml
Labels: area:docs

ci: remove backup workflow file '.github/workflows/pr-check Kopie.yaml'
  .github/workflows/pr-check Kopie.yaml
Labels: area:ci

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Labels: area:ci

chore: ignore local trash folders
  .gitignore
Labels: chore

ci: unify PR workflow head (PR+push+concurrency) and ignore local trash folders
  .github/workflows/pr-check.yaml
  scripts/update_pr_check_head.sh
Labels: area:ci, area:scripts

ci: add permissions to PR workflow head (pull-requests: write) + keep concurrency
  .github/_backup/pr-check.yaml.bak.20250912_211236
  .github/_backup/pr-check.yaml.bak.20250912_212835
  scripts/update_pr_check_head.sh
Labels: area:scripts

ci: add permissions to PR workflow head (pull-requests: write) + keep concurrency
  .github/_backup/pr-check.yaml.bak.20250912_232101
Labels: none

ci: guard PR comment step (skip on push); make script PR-safe
  .github/workflows/pr-check.yaml
Labels: area:ci

chore: ignore workflow backups
  .gitignore
Labels: chore

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Labels: area:ci
